/*-----------------------------*/
/* GLOBAL STYLES AND STRUCTURE */
/*-----------------------------*/

@font-face {
    font-family: 'BebasRegular';
    src: url('Bebas-fontfacekit/BEBAS___-webfont.eot');
    src: url('Bebas-fontfacekit/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('Bebas-fontfacekit/BEBAS___-webfont.woff') format('woff'),
         url('Bebas-fontfacekit/BEBAS___-webfont.ttf') format('truetype'),
         url('Bebas-fontfacekit/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Helvetica, Arial, sans-serif;
  color: #5a5a5a;
  background-color: #fff;
  word-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-family: 'BebasRegular';
}
h1 {
  font-size: 50px;
  line-height: 50px;
}
h2 {
  margin: 10px 20px;
}

hr {
  margin: 50px 0;
  border: none;
  border-top: 1px solid #9ed846;
}

a {
  color: #599400;
}
a:hover {
  color: #385e00;
  text-decoration: none;
}
a:focus {
  color: #385e00;
  text-decoration: none;
}

p {
  padding: 0 20px;
  margin-bottom: 20px;
}
p.lead {
  font-size: 30px;
  line-height: 40px;
}

/* Font Awesome Icons override Bootstrap Icons */
i {
  color: #fff;
  background: none;
}
a[class^="icon-"], a[class*=" icon-"] {
  background-image: none;
}

/* button styles */
.btn {
  font-family: 'BebasRegular';
  padding: 10px 20px 5px 20px;
  font-size: 20px;
  line-height: 35px;
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;  
  background: none;
  border: none;
  background-color: #fff;

  -webkit-transition: .2s;
  transition: .2s;
  
}
  .btn:hover {    
    -webkit-transition: .15s;
    transition: .15s;

    background-color: #444;
    color: #fff;
  }

/* Forms */
form [class*="span"] {
}
.container label {
  margin-left: 4px;
  font-family: 'BebasRegular';
}
.container input {
  box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   
  height: 50px;
  border-radius: 0;
  box-shadow: none;
  line-height: 35px;
  font-size: 16px;
  padding: 10px;
  border: 4px solid #9ed846;
  font-family: 'BebasRegular';
}
  .container input:focus,
  .container textarea:focus {
    box-shadow: none;
    border: 4px solid #599400;
  }
.container textarea {
  box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  border: 4px solid #9ed846;
}
form .btn,
#contact h1 {
  margin-left: 4px;
}
@media (max-width: 767px) {
  form .btn {
    margin-top: 10px;
  }
}
/* Contact Form */
form.contact input,
form.contact textarea {
  width: 100%;
}
form.contact textarea {
  height: 219px;
}

/*---------------------------------*/
/* NAVBAR: Transparent white space */
/*---------------------------------*/
.navbar-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
  .navbar-inverse {
    width: inherit;
  }

.navbar-inverse .navbar-inner {
  margin: 50px 0;
  background: none;
  box-shadow: none;
  border: none;
}
  /* Logo styles */
  .navbar-inverse .brand {
    font-family: 'BebasRegular';
    font-size: 40px;   
    color: #9ed846;
    text-shadow: none;
    padding: 20px 0;
    border-bottom: 5px solid #fff;
  }
    .navbar-inverse .brand:hover,
    .navbar-inverse .brand:focus {
      color: inherit;
      border-bottom: 5px solid #9ed846;
    }
    
  /* Smaller device menu button */
  .navbar-inner .btn-navbar {
    height: 52px;

    background: none;
    margin: 0;
    text-align: right;
  }
  .navbar-inner .btn-navbar:hover {
    background: none;
  }
    .navbar-inner .btn-navbar span.icon-bar {
      background-color: #444;
      box-shadow: none;
      width: 35px;
      height: 4px;
      margin-bottom: 5px;
    }
    
  .navbar-inner .nav {
    margin-top: 5px;
  } 
    .navbar-inner .nav li{
  
    }
      .navbar-inner .nav li a{
        font-size: 20px;
        font-family: 'BebasRegular';
        text-shadow: none;
        margin: 10px 15px;
        padding: 0 0 5px 0;
      }
        .navbar-inner .nav li a:hover {
          color: inherit;
          border-bottom: 4px solid #9ed846;
        }
        .navbar-inverse .nav li a:focus {
          color: #999;
        }
      .navbar-inverse .nav li.active a,
      .navbar-inverse .nav li.active a:hover,
      .navbar-inverse .nav li.active a:focus,
      .navbar-inverse .nav li.dropdown.active a.dropdown-toggle {
        color: #ccc;
        background-color: transparent;
        box-shadow: none;
        text-shadow: none;
        border-bottom: 4px solid #9ed846;
      }
      
      /* Dropdown styles */
      .navbar-inverse .nav li.dropdown a {
        outline: none;
      }
        .navbar-inverse .nav li.dropdown a:focus {
          color: #999;
        }
        .navbar-inverse .nav li.dropdown.open a.dropdown-toggle {
          background: none;
          color: #444;
          border-bottom: 4px solid #9ed846;
        }
          .navbar-inverse .nav li.dropdown a:focus > .caret,
          .navbar-inverse .nav li.dropdown .caret,
          .navbar-inverse .nav li.dropdown.open a.dropdown-toggle .caret,
          .navbar-inverse .nav li.dropdown a:hover > .caret {
            margin: 5px 0 0 5px;
            border-top-color: #999;
            border-bottom-color: #999;
          }
      .navbar-inverse .nav li.dropdown .dropdown-menu {
        border-radius: 0;
        box-shadow: none;
        padding-top: 15px;
      }
        .navbar-inverse .nav li.dropdown .dropdown-menu li a {
          color: #999;
        }
          .navbar-inverse .nav li.dropdown .dropdown-menu li a:hover {
            background: none;
            border: 0;
            color: #444;
          }
  /* Smaller Screen Dropdown Styles */
  @media (max-width: 979px) {
    .navbar-inverse .nav li a,
    .navbar-inverse .nav li.active a,
    .navbar-inverse .nav li.active a:hover,
    .navbar-inverse .nav li.dropdown.active a.dropdown-toggle {
      font-weight: normal;      
      color: #599400;
      border: none;
    }
    .navbar-inverse .nav-collapse .nav li a:hover,
    .navbar-inverse .nav li.dropdown.open a.dropdown-toggle,
    .navbar-inverse .nav li.dropdown a:focus {
      background-color: #fff;
      border: none;
    }
  }
  /* Affixed Menu Styles */
  .navbar-wrapper.affix {
    position: fixed;
  }
    .navbar-wrapper.affix .navbar-inverse {
      margin: 0;
    }
    .navbar-wrapper.affix .navbar-inner {
      margin: 10px 0 0 0;
    }
      .navbar-wrapper.affix .navbar-inner .brand:hover {
        border-bottom: 5px solid #fff;
      }
  
/*---------------------------------------------------------*/
/* LANDING STYLE: First container, has headling and slogan */
/*---------------------------------------------------------*/
.container.landing {
  margin: 165px auto 70px auto;
}
  .landing .slogan {
    color: #999;
  }
  
  
  
/*-----------------------------------------------------------------*/
/* BLOCK STRUCTURE: Full Width, large height to fill entire screen */
/*-----------------------------------------------------------------*/
  
.block {
  width: 100%;
  color: #fff;
} 
  .block .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
    .block .container .row {
      margin-bottom: 20px;
    }
    .block .container hr {

    }
  /* colors */
  .block.blue {
    background-color: #15a7c6;
  }
  .block.green {
    background-color: #9ed846;
  }
  .block.white {
    background-color: #eee;
    color: #444;
  }


/*-------------------------------------------------*/
/* PRODUCT STYLINGS: Macbook Pro, iPhone 5 */
/*-------------------------------------------------*/
/* MACBOOK */
.macbook {
  display: block;
  position: relative;
  width: 560px;
  height: 310px;
  z-index: 0;
  margin: 0 auto;
}
  .macbook .macbook-cover {
    position: relative;
    width: 560px;
    height: 310px;
    background: url('../img/macbook.png') no-repeat;
    background-size: 100%;
    z-index: 1;
  }
  .macbook .image-wrapper {
    position: absolute;
    top: 18px;
    left: 50%;
    width: 415px;
    height: 260px;
    margin-left: -207px;
    overflow: hidden;
    background-color: #ddd;
  }
    .macbook .image-wrapper img {
      min-height: 100%;
    }
  /* Macbook Responsive Sizes */
  @media (min-width: 769px) and (max-width: 1200px) {
    .macbook,
    .macbook .macbook-cover {
      width: 440px;
      height: 260px;
    }
      .macbook .image-wrapper {
        top: 14px;
        width: 325px;
        height: 205px;
        margin-left: -162px;
      }
  }
  @media (max-width: 768px) {
    .macbook,
    .macbook .macbook-cover {
      width: 280px;
      height: 180px;
      margin-top: 50px;
    }   
      .macbook .image-wrapper {
        top: 8px;
        width: 210px;
        height: 130px;
        margin-left: -105px;
      }
      .macbook .carousel-control.left {
        left: -5px;
      }
      .macbook .carousel-control.right {
        right: -5px;
      }
  }
  
/* IPHONE */  
.iphone {
  display: block;
  position: relative;
  width: 260px;
  height: 550px;
  z-index: 0;
  margin: 0 auto;
}
  .iphone .iphone-cover {
    position: relative;
    width: 260px;
    height: 550px;
    background: url('../img/iphone.png') no-repeat;
    z-index: 1;
    background-size: 100%;
  }
  .iphone .image-wrapper {
    position: absolute;
    top: 78px;
    left: 23px;
    width: 215px;
    height: 380px;
    overflow: hidden;
    background-color: #fff;
  }
    .iphone .image-wrapper img {
      min-height: 100%;
    }
  /* iPhone Responsive Sizes */
  @media (min-width: 980px) and (max-width: 1200px) {
    .iphone,
    .iphone .iphone-cover {
      width: 210px;
      height: 450px;
    }
      .iphone .image-wrapper {
        top: 60px;
        left: 18px;
        width: 175px;
        height: 310px;
      }
  }
  @media (max-width: 979px) {
    .iphone,
    .iphone .iphone-cover {
      width: 180px;
      height: 380px;
    }
      .iphone .image-wrapper {
        top: 52px;
        left: 15px;
        width: 150px;
        height: 265px;
      }
  }
  @media (max-width: 768px) {
    .iphone {
      margin-top: 60px;
    }   
  }

.caption {
  text-align: center;
}

/*-----------------------------------------------------------------*/
/* CAROUSEL STYLES: Carousel within products: Macbook, iPhone, ... */
/*-----------------------------------------------------------------*/
.carousel {
  height: 100%;

}
  .carousel-inner {
    height: inherit;
  }
    .carousel-inner .item {
      height: inherit;
      overflow: hidden;
    }
    .carousel-control {
      width: 30px;
      height: 30px;
      top: 50%;      
      margin-top: -20px;
      border: none;
      z-index: 2;
      opacity: .25;
      font-size: 30px;
      background: none;
    }
      .carousel-control:hover{
        opacity: .5;
      }
      /* Different Controls for each product */
      .macbook .carousel-control.left {
        left: -10px;
      }
      .macbook .carousel-control.right {
        right: -10px;
      }
      .iphone .carousel-control.left {
        left: -40px;
      }
      .iphone .carousel-control.right {
        right: -40px;
      }
      .carousel-control i {
        color: #000;
        vertical-align: middle;
      }
  
/*------------------------------------------------*/
/*            TEAM PORTRAIT STYLINGS              */
/*------------------------------------------------*/
.portrait-wrapper {
  text-align: center;
  margin: 30px 0;
}
  .portrait {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
    .portrait img {
  
    }
  .portrait-wrapper .social-media {
    text-align: center;
    margin-bottom: 20px;
  }
    .portrait-wrapper .social-media i {
      display: inline-block;
      width: 40px;
      font-size: 30px;
      color: #444;
      
      -webkit-transition: color .2s;
      transition: color .2s;
      
    }
      .portrait-wrapper .social-media i:hover {
        color: #9ed846;
      }
  /* Portrait Responsive Sizes */
  @media (max-width: 979px) {
    .portrait {
      width: 200px;
      height: 200px;
    }
  }
  @media (max-width: 768px) {
    .portrait {
      width: 250px;
      height: 250px;
    }
  }
  
/*-------------------------------------------*/
/*              FOOTER STYLINGS              */
/*-------------------------------------------*/
footer {
  margin-top: 70px;
  color: #599400;
  font-family: 'BebasRegular';
  word-spacing: 2px;
}



/*---------------------------*/
/* GENERAL RESPONSIVE STYLES */
/*---------------------------*/

@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  h1, h2, h3, h4, h5 {
    text-align: center;
  }
}
  
  
  
  
